.ContainerChar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
    height: 80px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid blue; 
}
.ContainerChar div{
    color: blue;
}

.ContainerChar div p{
    color: grey;    
}