* {
    box-sizing: border-box !important;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../images/durinsDoor.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gandalfOuter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 600px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 70px 20px rgba(171, 215, 250, 0.30);
}

.gandalfQuestion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 350px;
    background-color: rgba(66, 66, 66, 0.6);
    border-radius: 20px 20px 0px 0px;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.gandalfQuestion h1 {
    max-width: 450px;
    margin-bottom: 20px;
}

.gandalfPhoto {
    background-image: url('../images/youShallNotPass.gif');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 250px;
    border-radius: 0px 0px 20px 20px;
}

.gandalfQuestion button {
    margin-top: 30px;
}

button {
    background-color: transparent;
    padding: 6px 24px;
    margin: 0 12px;
    border-radius: 8px;
    color: rgb(81, 193, 228);
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: ease-in-out 200ms;
}

button:hover {
    background-color: rgba(66, 66, 66, 0.7);
}

.right {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    position: absolute;
    background-image: url('../images/gandalf.jpg');
    background-position: 70% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 250px;
    text-align: center;
    transform: translateY(175px);
    z-index: 100;
    box-sizing: border-box;
    border-radius: 0px 0px 20px 20px;

}

.right p {
    font-size: 60px;
    color: rgb(255, 255, 255);
    /* background: transparent; */
    padding: 10px 20px;
    transition: ease-in-out 200ms;
    box-sizing: border-box !important;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 20px 20px 0;
}

.green {
    background-color: rgb(17, 92, 23) !important;
    color: #fff;
}

.wrong1 {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    visibility: hidden;
    position: absolute;
    background-image: url('../images/smeagol.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 250px;
    text-align: center;
    transform: translateY(175px);
    border-radius: 0px 0px 20px 20px;

  
}

.wrong1 p {
    position: absolute;
    font-size: 60px;
    color: #fff;
    /* background: transparent; */
    right: 20px;
    padding: 10px 20px;
    bottom: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
}

.wrong1 p:first-child{
    background: transparent;
}

.wrong2 {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    visibility: hidden;
    position: absolute;
    background-image: url('../images/twoStatues.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 250px;
    text-align: center;
    transform: translateY(175px);
    border-radius: 0px 0px 20px 20px;

}

.wrong2 p {
    position: absolute;
    font-size: 60px;
    color: #fff;
    /* background: transparent; */
    left: 20px;
    padding: 10px 20px;
    bottom: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
}

.wrong2 p:first-child{
    background: transparent;
    
}

.show {
    position: absolute;
    visibility: visible;
}

.red {
    background-color: rgb(95, 15, 31) !important;
    color: #fff;
}

.x {
    position: absolute;
    top: 0px;
    right: 20px;
    margin: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
    font-size: 12px;
}

.xRight {
    position: absolute;
    top: 0px;
    right: 20px;
    margin: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
    font-size: 12px;
}

.x2 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0px;
    left: 10px;
    margin: 0;
    padding: 0px;
    background: transparent;
    cursor: pointer;
    font-size: 12px;
    
}

.setaBemvindoOuter {
    position: absolute;
    right: 20px;
    bottom: 10px;
    display: flex;
    border-radius: 20px;
    transition: ease-in-out 200ms;
}

.setaBemvindoOuter:hover {
    box-sizing: border-box;
    cursor: pointer;
    background-color: rgba(110, 110, 110, 0.7);
    color: rgb(81, 193, 228);
}
.setaBemvindoOuter:hover > p{
    color: rgb(81, 193, 228);
}

.setaBox {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.5);
    width: 60px;
    height: 100px;
    border-radius: 20px 0 0 20px;
}

.seta {
    position: absolute;
    background-image: url('../images/seta-direita.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
}

/* .setaBemvindoOuter:hover > .setaBox.seta{
    background-image: url('../images/seta-direita-azul.png');
} */